<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSCameraUsageDescription</key>
	<string>This app wants to use your camera to correct your bad habits</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018 The App Studio LLC.</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>In order to see your photos, please provide authorization to access your photo library</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>$(RESOLVE_BUNDLE_PREFIX).$(PROJECT_NAME:rfc1034identifier:lower).stateRestoration.camera</string>
		<string>$(RESOLVE_BUNDLE_PREFIX).$(PROJECT_NAME:rfc1034identifier:lower).stateRestoration.conversation</string>
		<string>$(RESOLVE_BUNDLE_PREFIX).$(PROJECT_NAME:rfc1034identifier:lower).stateRestoration.coreData</string>
		<string>$(RESOLVE_BUNDLE_PREFIX).$(PROJECT_NAME:rfc1034identifier:lower).stateRestoration.iBeacon</string>
		<string>$(RESOLVE_BUNDLE_PREFIX).$(PROJECT_NAME:rfc1034identifier:lower).stateRestoration.map</string>
		<string>$(RESOLVE_BUNDLE_PREFIX).$(PROJECT_NAME:rfc1034identifier:lower).stateRestoration.photos</string>
	</array>
</dict>
</plist>
